.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: large;
}
.slideanim span {
  font-size: 3vw;
  color: goldenrod;
}
